.profile-container {
    padding: 20px;
    margin-top: 60px;
    width: 80%;
  }
  
  .profile-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
  }
  
  .profile-menu {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .profile-menu-item {
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 5px;
  }
  
  .profile-menu-item.active {
    font-weight: bold;
    color: #13E5C0;
    border-bottom: 2px solid #13E5C0;
  }
  
  .profile-card {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 800px; /* Adjust this width as necessary */
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  .profile-card h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .profile-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .profile-item label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .profile-item input {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 1em;
    width: 50%; 
    max-width: 400px; 
  }
  
  .save-button {
    padding: 10px 20px;
    background-color: #13E5C0;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0fbea3;
  }
  