.settings-container {
    padding: 20px;
    margin-top: 60px;
    width: 80%;
  }
  
  .settings-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
  }
  
  .settings-menu {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .settings-menu-item {
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 1em;
    color: #19303d;
  }
  
  .settings-menu-item.active {
    font-weight: bold;
    color: #13E5C0;
    border-bottom: 2px solid #13E5C0;
  }
  
  .settings-card {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 800px; /* Adjust this width as necessary */
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .settings-card h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .setting-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .setting-item label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .subheader {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 20px;
    width: 100%; /* Ensure it doesn't overflow */
    box-sizing: border-box; /* Ensure padding/margin are included in the width */
  }
  
  .toggle-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #13E5C0;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .switch.disabled {
    cursor: not-allowed;
  }
  
  .switch.disabled .slider {
    background-color: #d3d3d3;
  }
  
  .switch.disabled .slider:before {
    background-color: #f5f5f5;
  }

  .domains-label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .domains {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .domain-chip {
    display: flex;
    align-items: center;
    background-color: #F3F5F6;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .domain-chip button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #19303d;
    font-size: 1em;
  }
  
  .add-domain-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .add-domain-container input {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1em;
    flex-grow: 1;
    width: 25%; 
    max-width: 250px; 
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #13E5C0;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0fbea3;
  }
  
  .save-button {
    padding: 10px 20px;
    background-color: #13E5C0;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0fbea3;
  }

.members-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .members-table th,
  .members-table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
  }
  
  .members-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .members-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .members-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .role-chip {
    display: inline-block;
    background-color: #F3F5F6;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 0.9em;
  }
  
  .delete-member {
    cursor: pointer;
    color: #19303d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .delete-member:hover {
    color: #354D5A;
  }

  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #F4FCF9;
    color: #19303D;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 20px; opacity: 1; }
  }
  
  @keyframes fadeout {
    from { bottom: 20px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
  }
  
  