:root {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  color: #19303D;
}

body {
  margin: 0;
}
